html {
 margin:0;
 padding:0;
 box-sizing: border-box;
}

html {
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}

html {
 font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;
 font-size:106.25%;
 quotes:"“" "”"
}

*, *:before, *:after {
 box-sizing:inherit;
}

body {
 margin:0;
 padding:0
}

body {
 font-size:17px;
 line-height:1.47059;
 font-weight:400;
 letter-spacing:-.022em;
 font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;
 background-color:#fff;
 color:#000;
 font-style:normal;
}

body {
 min-width: 320px;
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
 margin:0;
 padding:0
}

.button {
 font-size:17px;
 line-height:1.47059;
 font-weight:400;
 letter-spacing:-.022em;
 background-color:#0070c9;
 background:linear-gradient(#42a1ec,#0070c9);
 border-color:#07c;
 border-width:1px;
 border-style:solid;
 border-radius:4px;
 color:white;
 cursor:pointer;
 display:inline-block;
 min-width:30px;
 padding-left:15px;
 padding-right:15px;
 padding-top:4px;
 padding-bottom:4px;
 text-align:center;
 white-space:nowrap
}

.button:hover {
 background-color:#147bcd;
 background:linear-gradient(#51a9ee,#147bcd);
 border-color:#1482d0;
 text-decoration:none
}

.button:focus {
 box-shadow:0 0 0 3px rgba(131,192,253,.5);
 outline:none
}

fieldset, iframe, img {
 border: 0;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
 display:block
}

h1,
h2,
h3,
h4,
h5,
h6 {
 color:#111
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
 display:block;
 margin:0
}

ul,
ol {
 margin-left:1.17647em
}

ul ul,
ul ol,
ol ul,
ol ol {
 margin-top:0;
 margin-bottom:0
}

nav ul,
nav ol {
 margin:0;
 list-style:none
}

li li {
 font-size:1em
}

a {
  color: #0070c9; /* #2997ff */
}

a:link,
a:visited {
 text-decoration:none
}

a:hover {
 text-decoration:underline
}

a:active {
 text-decoration:none
}

b,
strong {
 font-weight:600
}

em,
i,
cite,
dfn {
 font-style:italic
}

sup {
 font-size:.6em;
 vertical-align:top;
 position:relative;
 bottom:-.2em
}

h1 sup,
h2 sup,
h3 sup {
 font-size:.4em
}

sup a {
 vertical-align:inherit;
 color:inherit
}

sup a:hover {
 color:#0070c9;
 text-decoration:none
}

sub {
 line-height:1
}

abbr {
 border:0
}

.main {
 position:relative;
 max-width:2560px;
 margin:0 auto;
 display: block;
}

.section {
 overflow:hidden;
}

.section-content {
 width:1200px;
 margin:0 auto;
 padding-left:22px;
 padding-right:22px;
 padding-top:0px;
 padding-bottom:0px;
}

.row {
 position:relative;
 z-index:1
}

.row::before,
.row::after {
 content:' ';
 display:table
}
.row::after {
 clear:both
}
.column {
 position:relative;
 z-index:1;
 margin:0;
 padding:0;
 float:left;
 min-height:2px
}

.more {
  text-decoration: none;
}

.icon::before,
.icon::after,
.more::before,
.more::after {
 color:inherit;
 display:inline-block;
 font-style:normal;
 font-weight:inherit;
 font-size:inherit;
 line-height:1;
 text-decoration:none;
 position:relative;
 z-index:1;
 alt:''
}

.more::after {
 content:">";
}

.icon-after::after,
.more::after {
 padding-left:.3em;
 top:0
}

.large-1 {
 width:8.33333%
}
.large-2 {
 width:16.66667%
}
.large-3 {
 width:25%
}
.large-offset-3 {
 margin-left: 25%;
}
.large-4 {
 width:33.33333%
}
.large-5 {
 width:41.66667%
}
.large-6 {
 width:50%
}
.large-7 {
 width:58.33333%
}
.large-8 {
 width:66.66667%
}
.large-9 {
 width:75%
}
.large-10 {
 width:83.33333%
}
.large-11 {
 width:91.66667%
}
.large-12 {
 width:100%
}
.large-centered {
 margin-left:auto;
 margin-right:auto;
 float:none
}
.large-uncentered {
 margin-left:0;
 margin-right:0
}

.section-headline {
 margin-top: 0px;
 font-size:40px;
 line-height:1.07143;
 font-weight:600;
 letter-spacing:-.005em;
}

.section-body {
 font-size:17px;
 line-height:1.47059;
 font-weight:400;
 letter-spacing:-.022em;
}

.section-headline-elevated {
 font-size: 48px;
 line-height: 1.2;
 font-weight: 600;
 letter-spacing: -.005em;
}

.section-body-elevated {
 font-size: 24px;
 line-height: 1.33349;
 font-weight: 400;
 letter-spacing: .009em;
}

.icon-wrapper .icon,
.icon-wrapper .more::after,
.icon-wrapper .icon-before::before,
.icon-wrapper .icon-after::after {
 display:inline
}

a.icon-wrapper {
 text-decoration:none
}

a.icon-wrapper:hover .icon-copy {
 text-decoration:underline
}

.lockup-wrapper {
 margin-right:30px;
}

@media only screen and (max-width: 1199px) {
 .section-content {
  width:100%;
  margin:0 auto;
  padding-left:22px;
  padding-right:22px;
 }
}

@media only screen and (max-width: 767px) {
 .section-content {
  width:100%;
  margin:0 auto;
  padding-left:4px;
  padding-right:4px;
 }
}

@media only screen and (max-width: 767px) {
 .small-offset-0 {
  margin-left:0
 }
 .small-1 {
  width:8.33333%
 }
 .small-2 {
  width:16.66667%
 }
 .small-3 {
  width:25%
 }
 .small-4 {
  width:33.33333%
 }
 .small-5 {
  width:41.66667%
 }
 .small-6 {
  width:50%
 }
 .small-7 {
  width:58.33333%
 }
 .small-8 {
  width:66.66667%
 }
 .small-9 {
  width:75%
 }
 .small-10 {
  width:83.33333%
 }
 .small-11 {
  width:91.66667%
 }
 .small-12 {
  width:100%
 }
}

@media only screen and (max-width: 767px) {
 .lockup-wrapper {
  margin-bottom:54px;
 }
 .section-headline {
  font-size:24px;
 }
 .section-body {
  font-size:17px;
 }
 .section-headline-elevated {
  font-size:40px;
 }
 .section-body-elevated {
  font-size: 19px;
 }
}
