@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.rootParent {
 height: 100%;
}

.root {
 height: 100%;
 line-height: 1.231;
 font-size: 13px;
 font-style: normal;
 font-family: Verdana,Arial,sans-serif;
 box-sizing: border-box;
}

.tdreplay {
 height: 80vh;
 width: 96%;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0px;
 margin-top: 0px;
 padding: 0px;
 border: 1px solid gray;
 position: relative;
 clear: both;
}

.left {
 height: 100%;
 width: 60%;
 left: 0px;
 top: 0px;
 position: absolute;
 border-right: 1px solid black;
}

.leftContainer {
 height: 100%;
 height: 100%;
 width: 100%;
}

.leftNest {
 height: 100%;
 width: 100%;
}

.leftNorth {
 height: 100%;
 width: 100%;
 left: 0px;
 top: 0px;
 position: relative;
}

.boardHolder {
 height: 100%;
 width: 100%;
 top: 0px;
 left: 0px;
 background-color: #F2F1EC;
 border-bottom: 1px solid black;
}

.boardPanel {
 height: 100%;
 width: 100%;
 position: relative;
}

.boardCanvas {
 height: 100%;
 width: 100%;
 position: relative;
}

.belowBoard {
 height: 40px;
 width: 100%;
 margin: 0px;
 padding-left: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 border-top: 0px solid gray;
 overflow: hidden;
 background-color: #FAF7F3;
}

.leftSouth {
 height: 30%;
 width: 100%;
 left: 0px;
 position: absolute;
}

.leftSouthNest {
 height: 100%;
 width: 100%;
}

.leftSouthNest {
 background-color: #F2F1EC;
}

.right {
 height: 100%;
 width: 40%;
 top: 0px;
 position: absolute;
 overflow: hidden;
}

.rightNest {
 height: 100%;
 width: 100%;
}

.rightNorth {
 height: 100%;
 width: 100%;
}

.nota-container {
 height: 100%;
 width: 100%;
 display: table;
 padding: 0;
 margin: 0;
 border: 0;
 font-family: Helvetica Neue, Roboto, sans-serif;
 font-size: 15px;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

.nota-header-container {
 height:auto;
 border-bottom: 1px solid silver;
}

.headerPanel {
 height: auto;
 width: 100%;
 padding-top: 4px;
 padding-bottom: 4px;
 overflow: hidden;
 text-align: center;
 background-image: linear-gradient( to bottom, hsla( 30, 10%, 98%, 0.6), hsla( 30, 10%, 95%, 0.6) )!important;
}

.mainHeader {
 display: block;
}

.headerTable {
 width: 100%;
 table-layout: fixed;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0px;
}

table.scroll {
 border-spacing: 0;
 border: 0px;
 padding: 1px;
}

.headerTable td {
 border: none;
 padding: 0;
}

.headerPanel span {
 padding: 0 0.2ex 0 0.2ex;
}

.playerPortrait {
 vertical-align: top;
}

.playerImage {
 vertical-align: top;
 border: 1px solid lightgray;
}

.playerPortrait img {
 border: thin silver solid;
 padding: 0;
 display: inline;
}

.playerWhite {
 font-weight: 700;
 text-align: left;
 vertical-align: top;
 padding-left: 1px;
 margin: 0;
}

.playerBlack {
 font-weight: 700;
 text-align: right;
 vertical-align: top;
 padding-right: 1px;
 margin: 0;
}

span.player {
 font-weight: 700;
 vertical-align: top;
}

span.rating {
 font-size: 80%;
 padding-left: 0.20em !important;
 font-weight: 300;
}

span.team {
 font-size: 70%;
 padding-left: 0.20em !important;
 font-weight: 400;
}

.result {
 font-size: 100%;
 font-weight: bold;
 white-space: nowrap;
 text-align: center;
}

.flagWhite {
 text-align: left;
 vertical-align: top;
 padding-left: 3px;
}

.flagBlack {
 text-align: right;
 vertical-align: top;
 padding-right: 3px;
}

.playerNation img, .flagWhite img, .flagBlack img {
 border: none!important;
 padding: 0!important;
 display: inline;
}

.fmjd {
 font-size: 70%;
 font-weight: 500;
 padding-left: 0.20em!important;
 color: hsl( 0, 40%, 40% );
 padding: 0px;
 border: 0px solid lightgray;
 vertical-align: top;
 padding-top: 6px!important;
}

.tournamentData {
 padding-top: 3px!important;
 vertical-align: top;
}

.tournamentTitle {
 font-size: 90%;
 text-align: center;
}

.tournamentStartDate {
 font-size: 85%;
 padding-left: 0.35em !important;
}

.gameDate {
 font-size: 85%;
 padding-left: 0.35em !important;
}

span.annotator {
 display:block;
 font-weight:500;
 font-size: 88%;
 font-family:Roboto Condensed;
}

.tournamentPlace {
 font-size: 80%;
 font-style: italic;
 font-family: Roboto Condensed;
 margin-left: 4px;
 margin-right: 5px;
 padding: 0px !important;
}

.nota-moves-container {
 height: 100%;
 width: 100%;
 position: relative;
 display: table-row;
}

.nota-imoves-container {
 height: 100%;
 width: 100%;
 position: relative;
}

.movesPanel {
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
 overflow-y: auto;
 position: absolute;
 padding: 8px;
 padding-right: 50px;
 line-height: 1.55em;
 background-color: #F2EEE5;
}

span.tdline[data-level="0"] {
 display: block;
 margin-top: 2px;
}

span.tdline[data-level="0"][data-commented="1"] {
 font-weight: 500;
 text-shadow: 1px 1px 1px hsla( 0, 30%, 20%, 0.12);
}

span.tdline[data-level="1"] {
 font-size: 1em;
 font-weight: normal;
 text-shadow: none;
 margin-left: 1ex;
 display: block;
}

span.tdcomment {
 font-weight: normal;
 font-style: normal;
 font-family:'Roboto Condensed', 'Arial Narrow';
 font-weight:400;
 text-shadow:none;
 color: brown;
}

span.tdmove {
 text-decoration: none;
 cursor: pointer;
 padding: 0em 0.1em 0em 0.1em;
 padding: 0;
 padding-left: 0.1em;
 margin: 0;
}

span.tdmove-crit-opening {
 color: blue;
}

span.tdmove-crit-middle {
 color: green;
}

span.tdmove-crit-end {
 color: red;
}

span.tdmove:hover {
 background-color: #F5F1D3;
 -moz-border-radius: 0.2em;
 border-radius: 0.2em;
}

span.tdmove:active,
span.tdmove.tdcurmove,
span.tdmove.tdcurmove:hover {
 background-color: brown;
 color: white;
 -moz-border-radius: 0.2em;
 border-radius: 0.2em;
 box-shadow: 1px 1px 5px hsla( 0, 0%, 0%, 0.12 );
}

span.tdcurline,
span.tdcurline:hover {
 background-color: hsla( 60, 90%, 85%, 0.45 );
 color: black;
 -moz-border-radius: 0.2em;
 border-radius: 0.2em;
 box-shadow: 1px 1px 5px hsla( 0, 0%, 0%, 0.12 );
}

span.tdcurnode1 {
 background-color: hsla( 90, 70%, 60%, 0.4 );
}

span.tdprefix {
 font-weight: 600;
 text-decoration: underline;
}

.replayPanel {
 height: 40px;
 width: 452px; /* was 420, extra 32 wegens settingsknop */
 margin: 0 auto;
}

.replayButton {
 height: 28px; /* was 32px */
 width: 32px; /* was 40px */; 
 border-width:1px;
 border-style:solid;
 border-radius: 4px;
 border-color: #A39F9B;
 margin-top: 6px;
 margin-bottom: 0px;
 margin-left: 4px;
 margin-right: 0px;
 padding: 0px;
 position: relative;
 background-color: silver;
 background-repeat: no-repeat;
 background-position: center;
 touch-action: manipulation;
}

.replayButtonDisabled {
 opacity: 0.50 !important;
}

.replayButton:focus {
 background-color: yellow;
}

.replayButton:hover {
 opacity: 0.75;
 border-color: #d6d6d6;
}

.replayButton:active {
 border-color: #A39F9B;
}

.playBackward {
 background-image:url("/images/replay/PlayBackward.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.playForward {
 background-image:url("/images/replay/PlayForward.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.autoPlay {
 background-image:url("/images/replay/AutoPlay.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.autoStop {
 background-image:url("/images/replay/Stop.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.playSlower {
 background-image:url("/images/replay/Minus.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.playFaster {
 background-image:url("/images/replay/Plus.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.goToBegin {
 background-image:url("/images/replay/GoBegin.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.goToEnd {
 background-image:url("/images/replay/GoEnd.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.flipBoard {
 background-image:url("/images/replay/FlipBoard.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.loadPrevious {
 margin-left: 20px;
 background-image:url("/images/replay/LoadPrevious.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.loadNext {
  background-image:url("/images/replay/LoadNext.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.gameList {
 background-image:url("/images/replay/GameList.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.download {
 margin-left: 20px;
 background-image:url("/images/replay/Download.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.settings {
 background-image:url("/images/replay/Settings.png"), linear-gradient(to bottom, #d9d9d9 0%,#d9d9d9 50%,#cacaca 50%,#dddddd 100%);
}

.toolBarSep {
 margin-left: 8px;
}

.listParent {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 position: relative;
}

.listBody {
 height: 100%;
 width: 100%;
}

.grid {
 position: relative;
 overflow: hidden;
 font-size: 1em;
}

.grid-header {
 overflow-x: hidden;
 overflow-y: scroll;
 background: #f9f9f9;
 border: 1px solid #e9e9e9;
 -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 -o-user-select:none;
 user-select:none
}

.grid-header {
 width: 100%;
}

.grid-header-scrollbar::-webkit-scrollbar {
 visibility:hidden;
}

.grid-header-row > th {
 padding-top: 0.40em;
 padding-bottom: 0em;
 padding-left: 2.8px;
 padding-right: 2.8px;
 text-align: left !important;
 font-family: Roboto;
 font-size: 11px;
 font-weight: 300;
 height: 2.0em;
 border-bottom: 1px solid hsla( 0, 0%, 0%, 0.3 );
}

.grid-table {
 width: 100%;
 table-layout: fixed;
 border-collapse: collapse;
}

.grid-table td {
 padding-top: 0.40em;
 padding-bottom: 0em;
 padding-left: 2.8px;
 padding-right: 2.8px;
 overflow: hidden;
 white-space: nowrap;
}

.grid-header-row {
 font-family: Roboto;
}

.grid-header-cell {
 padding-top: 0.40em;
 padding-bottom: 0em;
 padding-left: 2.8px;
 padding-right: 2.8px;
 font-weight: 300;
 text-align: left !important;
 border: 1px solid #e9e9e9;
 border-left: none;
 border-top: 0;
 border-bottom: 0;
 background: #f9f9f9;
}

.grid-header-row > .grid-header-cell {
 border-bottom: 0;
}

.grid-cell {
 border: 1px solid #e9e9e9;
 border-left: none;
 border-top: 0;
}

.grid-row > .grid-cell:last-child, .grid-header-row > .grid-header-cell:last-child {
 border-right: none;
}

.grid-player {
 font-size: 14px;
 font-weight: 600 !important;
 text-align: left;
}

.grid-rating {
 font-size: 14px;
 text-align: center;
}

.grid-flag {
 font-size: 14px;
 text-align: center;
}

.grid-year {
 font-size: 14px;
 text-align: center;
}

.grid-result {
 font-size: 14px;
 text-align: center;
}

.grid-event {
 font-size: 14px;
 text-align: left;
}

.grid-round {
 font-size: 14px;
 text-align: right;
}

.grid-moves {
 font-size: 14px;
 text-align: right;
}

.grid-body {
 overflow-x: hidden;
 overflow-y: scroll;
 background-color: white !important;
 border: 1px solid #e9e9e9;
 border-top: none;
 border-bottom: none;
}

.grid-row {
 font-family: Roboto;
}

.grid-row, .grid-alt-row {
 height: 1.3em;
 font-size: 1.2em;
 font-family: Roboto;
}

.gamelist-table tr:nth-child(odd) {
 background-color: #fcfcfc;
}

.gamelist-table tr:nth-child(even) {
 background-color: #FFFFFF;
}

.gamelist-table tr:hover {
 background-color: #BCD2E5;
}

.grid-header-sort-asc::before {
 border-width: 5px 5px 0;
 border-color: #009a67 transparent transparent;
}

.grid-header-sort-desc::before {
 border-width: 0 5px 5px;
 border-color: transparent transparent #009a67;
}

.grid-header-sort::before {
 height: 0;
 width: 0;
 content: " ";
 display: block;
 float: left;
 border-style: solid;
}

.tddia {
 margin-left: 30px;
 margin-top: 3px;
 margin-bottom: 3px;
 display: block;
}

.tdmedal {
 width: 40px;
 height: 16px;
}

span.tdmedal {
 vertical-align: middle;
}

span.tdcolors {
 background-image:url("/images/replay/NotaColors.png");
 background-repeat: no-repeat;
 vertical-align: middle;
 width: 16px;
 height: 16px;
 display: inline-block;
}

.disabled {
 pointer-events:none;
 opacity:0.4;
}

.navButtonContainer {
 height: 40px;
 width: 100%;
 margin: 0px;
 padding-left: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 border-top: 1px solid gray;
 overflow: hidden;
 background-color: #FAF7F3;
}

.navButton {
 height: 28px;
 width: 80px;
 font-family: Roboto;
 text-align: center;
 margin-top: 6px;
 margin-bottom: 5px;
 margin-left: 6px;
 margin-right: 4px;
 padding-top: 1px;
 padding-bottom: 1px;
 padding-left: 6px;
 padding-right: 6px;
 border-width:1px;
 border-style:solid;
 border-radius: 3px;
 border-color: #A39F9B;
 color: black;
 background-image: linear-gradient(to bottom, hsl( 30, 30%, 92%) 20%, hsl( 30, 30%, 83%));
 touch-action: manipulation;
}

.navButtonDisabled {
 opacity: 0.30 !important;
}

.navButton:hover {
 opacity: 0.75;
 border-color: #d6d6d6;
}

.navButton:active {
}

@media screen and (max-width:767px) {
 .belowBoard {
  border-bottom: 1px solid silver;
 }
 .grid-header-row > th {
  font-family: Roboto Condensed;
  font-size: 1.0em;
 }
 .grid-row, .grid-alt-row {
  font-family: Roboto Condensed;
  font-size: 1.0em;
 }
}


/* SettingsDialog */
.settingsDialog {
 border: none;
 border-radius: 12px;
 padding: 30px;
 box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 
             0 0 10px rgba(0, 0, 0, 0.1);
 max-width: 400px;
 background-color: #f7f9fc; /* Light background */
}

.settingsDialog::backdrop {
 background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark overlay */
 backdrop-filter: blur(3px); /* Optional: Adds a nice frosted glass effect */
}

.settingsDialog h2 {
 color: #333;
 font-family: 'Arial', sans-serif;
 border-bottom: 2px solid #ddd;
 padding-bottom: 10px;
 margin-top: 0;
 margin-bottom: 20px;
 text-align: center;
}

.selectContainer {
 display: flex; /* Activate Flexbox layout */
 align-items: center; /* Vertically center the label text and the select box */
 justify-content: space-between; /* Pushes the label to the left and the select to the right */
 margin: 10px 0 20px 0; /* Add top/bottom margin for spacing */
}

.selectContainer label {
 font-size: 16px;
 color: #444;
 padding-right: 15px; /* Add space between the label and the combobox */
 display: block; 
}

.pieceSelect {
 width: 200px; 
 padding: 8px 15px;
 border: 1px solid #ccc;
 border-radius: 6px;
 background-color: #fff;
 font-size: 16px;
 color: #555;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.pieceSelect:focus {
 border-color: #007bff; /* Highlight color */
 box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
 outline: none;
}

.notationFontSizeSelect {
 width: 200px; 
 padding: 8px 15px;
 border: 1px solid #ccc;
 border-radius: 6px;
 background-color: #fff;
 font-size: 16px;
 color: #555;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.notationFontSizeSelect:focus {
 border-color: #007bff; /* Highlight color */
 box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
 outline: none;
}

.settingsDialog form {
 display: flex;
 justify-content: space-between; /* Pushes Cancel to the left and OK to the right */
 margin-top: 25px;
}

.settingsButton {
 height: 28px;
 width: 64px;
 border-width:1px;
 border-style:solid;
 border-radius: 4px;
 border-color: #A39F9B;
 margin-top: 6px;
 margin-bottom: 0px;
 margin-left: 16px;
 margin-right: 0px;
 padding: 0px;
 position: relative;
 background-color: #E8E8E8;
 background-repeat: no-repeat;
 background-position: center;
 touch-action: manipulation;
}

.settingsButton:hover {
 border-color: #A39F9B;
 background-color: #99D0F5;
}

.checkboxLabel { 
 display: flex;
 align-items: center;
 gap: 10px; 
 margin-bottom: 15px;
 font-size: 16px;
 color: #444;
}
